<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<body>

<div layout:fragment="content">
    <section class="wrapper">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
            <li><i class="fa fa-bars"></i><a href="/security">Security</a></li>
            <li><i class="fa fa-home"></i><a href="/security">Security Home</a></li>
        </ul>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Users</b></h3>
                                <p class="card-text">This section allows system administrators to manage users.</p>
                                <a href="/security/users" class="btn btn-success">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Roles</b></h3>
                                <p class="card-text">This section allows system administrators to manage user
                                    roles.</p>
                                <a href="/security/roles" class="btn btn-success">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
</body>
</html>