<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<body>

<div layout:fragment="content">
    <section class="wrapper">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
            <li><i class="fa fa-bars"></i><a href="/accounts">Accounts</a></li>
            <li><i class="fa fa-home"></i><a href="/accounts">Accounts Home</a></li>
        </ul>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Transaction</b></h3>
                                <p class="card-text">This section allows system administrators to manage transactions.</p>
                                <a href="/accounts/transactions" class="btn btn-warning">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Transaction Type</b></h3>
                                <p class="card-text">This section allows system administrators to manage transaction
                                    types.</p>
                                <a href="/accounts/types" class="btn btn-warning">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Transaction Status</b></h3>
                                <p class="card-text">This section allows system administrators to manage transaction
                                    status.</p>
                                <a href="/accounts/transaction-status" class="btn btn-warning">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Invoice</b></h3>
                                <p class="card-text">This section allows system administrators to manage invoices.</p>
                                <a href="/accounts/invoices" class="btn btn-warning">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Invoice Status</b></h3>
                                <p class="card-text">This section allows system administrators to manage invoice
                                    status.</p>
                                <a href="/accounts/invoice-status" class="btn btn-warning">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
</body>
</html>