<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<body>

<div layout:fragment="content">
    <section class="wrapper">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
            <li><i class="fa fa-bars"></i><a href="/fleet">Fleet Home</a></li>
            <li><i class="fa fa-home"></i><a href="/fleet">Fleet Home</a></li>
        </ul>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Vehicles</b></h3>
                                <p class="card-text">This section allows system administrators to manage vehicles in the fleet.</p>
                                <a href="/fleet/vehicles" class="btn btn-primary">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Vehicle Models</b></h3>
                                <p class="card-text">This section allows system administrators to manage vehicles models in the fleet.</p>
                                <a href="/fleet/models" class="btn btn-primary">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Manufacturers</b></h3>
                                <p class="card-text">This section allows system administrators to manage vehicle manufacturers in the fleet.</p>
                                <a href="/fleet/manufacturers" class="btn btn-primary">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Vehicle Status</b></h3>
                                <p class="card-text">This section allows system administrators to manage status of the vehicles in the fleet.</p>
                                <a href="/fleet/status" class="btn btn-primary">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Vehicle Types</b></h3>
                                <p class="card-text">This section allows system administrators to manage types of vehicles in the fleet.</p>
                                <a href="/fleet/types" class="btn btn-primary">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Hires</b></h3>
                                <p class="card-text">This section allows system administrators to manage hires of the fleet.</p>
                                <a href="/fleet/hires" class="btn btn-primary">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Movements</b></h3>
                                <p class="card-text">This section allows system administrators to manage fleet's
                                    movements.</p>
                                <a href="/fleet/movements" class="btn btn-primary">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Maintenance</b></h3>
                                <p class="card-text">This section allows system administrators to manage maintenance of the fleet.</p>
                                <a href="/fleet/maintenance" class="btn btn-primary">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
</body>
</html>