<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<body>

<div layout:fragment="content">
    <section class="wrapper">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
            <li><i class="fa fa-bars"></i><a href="/hr">HR</a></li>
            <li><i class="fa fa-home"></i><a href="/hr">HR Home</a></li>
        </ul>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Employees</b></h3>
                                <p class="card-text">This section allows system administrators to manage employees.</p>
                                <a href="/hr/employees" class="btn btn-danger">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Job Roles</b></h3>
                                <p class="card-text">This section allows system administrators to manage job roles.</p>
                                <a href="/hr/roles" class="btn btn-danger">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Departments</b></h3>
                                <p class="card-text">This section allows system administrators to manage
                                    departments.</p>
                                <a href="/hr/departments" class="btn btn-danger">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Employee Types</b></h3>
                                <p class="card-text">This section allows system administrators to manage employee
                                    types.</p>
                                <a href="/hr/types" class="btn btn-danger">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Employee Status</b></h3>
                                <p class="card-text">This section allows system administrators to manage employee
                                    status.</p>
                                <a href="/hr/status" class="btn btn-danger">Manage</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
</body>
</html>